<body>
  <div class="container">
    <div class="task-container">
      <div class="task-header">
        <div class="nav-menu">
          <div class="task-wrapper">
            <div class="navabr-btn">
              <i class="bi bi-list"></i>
            </div>
            <div class="txt">
              <h3>Tasks</h3>
              <p>
                All Tasks
              </p>
            </div>
          </div>
          <div class="record">
            <p>{{savedTasks.length}} Records</p>
          </div>
        </div>
        <div class="task-header-left">
          <div class="btn-wrapper">
            <button class="btn-new-task" (click)="openModel(content)">New Task</button>
            <button class="btn-refresh" (click)="refresh()">Refresh</button>
          </div>
          <input type="text" class="search-input" placeholder="Search">
        </div>
      </div>
      <table class="task-table">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Comments</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of visibleTasks; let i = index">
            <td><input type="checkbox" ></td>
            <td>{{data.assignedTo}}</td>
            <td>{{data.status}}</td>
            <td>{{data.dueDate}}</td>
            <td>{{data.priority}}</td>
            <td>{{data.description}}</td>
            <td *ngIf="expandedRowIndex !== i">
              <i class="bi bi-chevron-down" (click)="toggleButtons(i)"></i>
            </td>
            <td *ngIf="expandedRowIndex === i">
              <div style="gap: 10px; display: flex;">
                <button (click)="onEdit(i,content)">Edit</button>
                <button (click)="onDelete(i)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="pagination-container">
        <div class="items-per-page">
          <select (change)="onItemsPerPageChange($event)">
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      
        <div class="pagination-controls">
          <button (click)="firstPage()" [disabled]="currentPage === 1"><i class="bi bi-chevron-double-up"></i> First</button>
          <button (click)="prevPage()" [disabled]="currentPage === 1"><i class="bi bi-chevron-left"></i> Prev</button>
          <span class="current-page">{{currentPage}} / {{totalPages}}</span>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages"><i class="bi bi-chevron-right"></i> Next</button>
          <button (click)="lastPage()" [disabled]="currentPage === totalPages"><i class="bi bi-chevron-double-down"></i> Last</button>
        </div>
      </div>
    </div>
  </div>


  <ng-template #content let-modal>
    <div class="section-model">
      <div class="modal-header">
        <h4 class="modal-title">Add Address</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="assignedTo" class="form-label"> <span class="text-danger">*</span>Assigned To</label>
                <select formControlName="assignedTo" class="form-control" id="assignedTo">
                  <option>User 1</option>
                  <option>User 2</option>
                  <option>User 3</option>
                </select>
                <div *ngIf="taskForm.get('assignedTo')?.invalid && taskForm.get('assignedTo')?.touched"
                  class="text-danger">
                  <div *ngIf="taskForm.get('assignedTo')?.errors?.['required']">Please Select assignedTo</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="status" class="form-label"> <span class="text-danger">*</span>Status</label>
                <select formControlName="status" class="form-control" id="status">
                  <option>Not Started</option>
                  <option>In Progress</option>
                  <option>Completed</option>
                </select>
                <div *ngIf="taskForm.get('status')?.invalid && taskForm.get('status')?.touched"
                  class="text-danger">
                  <div *ngIf="taskForm.get('status')?.errors?.['required']">
                    Please Select status</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dueDate" class="form-label">Due Date</label>
                <input type="date" class="form-control" formControlName="dueDate" id="dueDate">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="priority" class="form-label"> <span class="text-danger">*</span>Priority</label>
                <select formControlName="priority" class="form-control" id="priority">
                  <option>Low</option>
                  <option>Normal</option>
                  <option>High</option>
                </select>
                <div *ngIf="taskForm.get('priority')?.invalid && taskForm.get('priority')?.touched"
                  class="text-danger">
                  <div *ngIf="taskForm.get('priority')?.errors?.['required']">Please Select priority</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-secondary" (click)="save()">Save</button>
      </div>
    </div>
  </ng-template>




</body>